<div class="carteira-container">

   

    <div class="carteira-cartao">
        <ul>
            <li><a href="http://localhost:4200/pages/carteira/meuscartoes">Meus Cartões</a></li>


            <li><a href="http://localhost:4200/pages/carteira/cripto">Cripto Bench</a></li>

        </ul>


    </div>



    <div class="extrato-buttons">
        <div class="extrato-buttons-box">
            <ul>
                <li> <a href="http://localhost:4200/pages/extrato"> Entrada Recentes</a></li>
                <li>

                    <a href="http://localhost:4200/pages/extrato"> Saidas Recentes</a>
                </li>
            </ul>
        </div>
    </div>





</div>