<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="social-area">
                    <img class="img-fluid" src="./../../assets/images/cartao.png" />
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-12 ml-auto mr-auto">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-3 d-none d-md-block">
                        <div class="links">
                            <ul class="uppercase-links stacked-links">
                                <li>
                                    <a href="https://cucafresca.com.br">
                                        Home
                                    </a>
                                </li>
                                <li>
                                    <a href="https://cucafresca.com.br#solucoes">
                                        Investimentos
                                      </a>
                                </li>
                              
                        
                            </ul>

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-auto ml-auto mr-auto">
                        <div class="links">
                            <ul class="uppercase-links stacked-links">
                                <li>
                                    <a href="https://cucafresca.com.br/produtos/cuca">
                                       Bench Empresas 
                                    </a>
                                </li>
                                <li>
                                    <a href="https://cucafresca.com.br/produtos/dpcuca">
                                       Bench Pessoal 
                                    </a>
                                </li>
                              
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-auto mr-auto">
                        <div class="links">
                            <ul class="uppercase-links stacked-links">
                                <li>
                                    <a href="https://cucafresca.vagas.solides.com.br/">
                                        Sac
                                    </a>
                                </li>
                                <li>
                                    <a href="https://cucafresca.com.br/solicitar">
                                       Contato
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="copyright">
                    <div class="text-center">
                        Banco Bench Do Brasil  ©2024
                       
                    </div>
                    <div class="text-center">
                        Avenida das Esmeraldas, nº 2657. Marília/SP - Fone: (14) 2105-9000
                    <div>
                </div>
            </div>
        </div>

    </div>
        </div>
