.carteira-container {
    display: flex;
    flex-wrap: wrap;

    flex-direction: column;
}


.pix-cartao {

    margin:20px 0px 20px 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.pix-cartao ul li {

    margin: 0px 20px 0px 20px;
    background-image: url(../../../../assets/images/1200px-Logo_-_pix_powered_by_Banco_Central_\(Brazil\,_2020\).png);
    background-size: 60%;

    background-position: top;
    background-repeat: no-repeat;
    display: inline-block;
    height: 120px;
    width: 300px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.541);

}




.pix-cartao ul li {
    text-align: center;
    display: inline-block;
    background-color: #b8b8b8;
    padding-top: 75px;
    justify-content: center;
    text-decoration: none;
    color: #000000;
    font-size: 40px;
    text-shadow: 2px 4px 4px rgba(255, 255, 255, 0.6);
}



.extrato-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


}

.extrato-buttons ul li {
    background-color: rgb(117, 117, 117);
    border-style: solid;
    border-color: rgb(61, 61, 61);

    border-width: 10px;
    height: 120px;
    width: 450px;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 15px;

}

.extrato-buttons ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;


    text-shadow: 2px 4px 4px rgba(46, 91, 173, 0.6);
    padding-right: 15px;
    padding-left: 15px;
}

.btn-pix {
    background-color: #ffffff;
    color: #32dad1;
    border-radius: 15px;
    border-color: #8effdd;
    cursor: cell;
    height: auto;
    width: 300px;

}
.btn-pix2 {
    background-color: #ffffff;
    color: #32dad1;
    border-radius: 15px;
    border-color: #8effdd;
    cursor: cell;
    height: auto;
    width: 300px;

}
.newpix{

z-index: 2;


}