<div class="carteira-container">
  <div class="pix-cartao">
    {{fecharPix()}}
    <ul>
      <li>
        <input
          type="button"
          value="Pagar"
          class="btn-pix"
          (click)="pagarPix()"
        />
      </li>

      <li>
        <input
          type="button"
          value="Copia e Cola"
          class="btn-pix2"
          (click)="copiaColaPix()"
        />
      </li>
    </ul>
  </div>

  <div class="extrato-buttons">
    <div class="extrato-buttons-box">
      <ul>
        <li>
          <input
            type="button"
            value="Minhas Chaves"
            class="btn-pix2"
            
          />
          <div>1476194761094861</div>
          <div>1749761948</div>
          <div>ajhfljkfglfkahcmail.com</div>
          <div>14352515</div>
          <div>wrgrrrgdergrra</div>
          <div>T42342353452fdsatry</div>
        </li>
        <li>
            <input
            type="button"
            value="Contatos"
            class="btn-pix2"
          />
          <div>Deiverson Horizontino</div>
          <div>Mario Steve Homer</div>
          <div>Gohan Uzumaki</div>
          <div>Naruto Sayjin</div>
          <div>Jiraya Kakaroto</div>
          <div>Tsunade Hyuga</div>
        </li>
      </ul>
    </div>
  </div>
</div>

<ng-template #pixpay>
  <app-newpix
    class="newpix"
    (fecharPix)="fecharPix()"
    [tipoPix]="tipoPix"
  ></app-newpix>


  <!-- quando tem (é um filho)   e quando tem [É o pai]-->
</ng-template>


