<div class="carteira-container">

    <div class="profile">
        <ul>
            <li>
                Olá {{user}}
            </li>
            <li>
                Saldo:
                <input type="radio" (click)="eye()" />
                @if (eyeCondition) {

                <img src="../../../../assets/images/Style=Roundopen_eye.png">

                } @else {

                <img src="../../../../assets/images/Style=Roundclose_eye.png">
                }


                {{saldo}}
            </li>
        </ul>
    </div>

    <div class="carteira-cartao">
        <ul>
            <li><button class="btn-pix" onclick="">Pagar</button>


            </li>


            <li><button class="btn-pix" onclick="">Copia e Cola</button></li>

        </ul>


   
    </div>
    

    <div class="extrato-buttons">
        <div class="extrato-buttons-box">
            <ul>
                <li> <a href="http://localhost:4200/pages/extrato">Minhas Chaves</a></li>
                <li>

                    <a href="http://localhost:4200/pages/extrato"> Contatos</a>
                </li>
            </ul>
        </div>
    </div>





</div>