<div class="modalPixBox">
  <a> PIX </a>
  <a>R$ {{ payForm.get("amount")?.value }}</a>

  <div class="input" [formGroup]="payForm">
    <br />

    <select class="modalPixSelect" id="choose" name="choose">
      <option value="CPF">CPF</option>
      <option value="CNPJ">CNPJ</option>
      <option value="CEL">CEL</option>
      <option value="EMAIL">EMAIL</option>
    </select>

    <input type="search" placeholder="chave" class="modalPixInput" />
    <br />
    <input
      type="number"
      placeholder="Valor"
      class="modalPixInput2"
      formControlName="amount"
    />
  </div>
</div>
