$black: #131313;
$black-light: #353535;
$orange-logo: #f68511;
$blue-logo: #5a97d6;
$white: #fafafa;
$blue-light: #68bdf1;
$orange-dark: #ff7300;
.container {
  display: block;

  align-items: center;
  background-color: $orange-logo;
  border-radius: 25px;
  padding-top: 12px;
  height: 400px;
  width: 530px;
}
.modalPixBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: $orange-dark;
  border-radius: 25px;
  height: 280px;
  width: 530px;
}

.modalPixBox a {
  display: flex;
  text-align: center;
  justify-content: center;
  color: #ffffff;
  text-decoration: none;
  font-size: 40px;
  padding-bottom: 25px;
  cursor: zoom-in;
  text-shadow: 2px 2px 5px rgb(94, 94, 94);
}
.modalPixBox p {
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  cursor: zoom-in;
  text-shadow: 2px 2px 5px rgb(94, 94, 94);
}

.modalPixInput {
  width: 222px;
  color: $blue-light;
  background-color: #f7f7f7;
  border-style: none;
  border-radius: 5px;
  height: 38px;
  padding-left: 15px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 5px rgb(169, 192, 255);
}
.modalPixInput ::placeholder {
  color: $blue-light;
}
.modalPixInput2 {
  color: $blue-light;
  background-color: #f7f7f7;
  border-style: none;
  border-radius: 50px;
  width: 90px;
  height: 38px;
  margin-top: 20px;
  padding-left: 10px;
  text-align: center;
  text-shadow: 2px 2px 5px rgb(169, 192, 255);
}
.modalPixInput2::placeholder {
  color: #5a97d6;
}

.modalPixSelect {
  background-color: #fafafa;
  display: 120px;
  color: $blue-light;
  background-color: #f7f7f7;
  border-style: none;
  border-radius: 5px;
  height: 38px;
  text-shadow: 2px 2px 5px rgb(169, 192, 255);
  color: $blue-light;
}
.modalClose {
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;

  margin-left: 480px;
}

.modalClose:hover {
  color: #ff0000;
}

.modalButtons {
  padding-top: 25px;
  display: inline-flex;

}
.modalButtons1 {
  background-color: #fafafa;
  color: $blue-light;
  border-radius: 40px;
  cursor: cell;
  height: 35px;
  border-color: rgba(0, 0, 51, 0);
  width: 70px;
  margin: 0 60px 0 60px;
  margin-top: 10px;
}
.modalButtons2:disabled {
display: none;
}

.modalButtons1:hover {
  background-color: #72d7ff;
  color: #ffffff;
}

.modalButtons2 {
  background-color: #fafafa;
  color: $orange-dark;
  border-radius: 50px;
  cursor: cell;
  height: 35px;
  width: 112px;
  margin-top: 10px;
  border-color: rgba(0, 0, 51, 0);
  text-align: center;
  display: flex; 
  justify-content: center;
}

.modalButtons2:hover {
  background-color: #72d7ff;
  color: #ffffff;
}
.bg-img img {
  width: 200px;
  height: 200px;
}

.modalPixBoxC a {
  color: $white;
  font-size: 30px;
  cursor: zoom-in;
  text-shadow: 2px 2px 5px rgb(94, 94, 94);
  text-decoration: none;
}
.a a {
  color: $white;
  font-size: 15px;
  cursor: zoom-in;
  text-shadow: 2px 2px 5px rgb(94, 94, 94);
  text-decoration: none;
  text-align: center;
}
.modalPixBoxC button {
  cursor: pointer;
  text-shadow: 2px 2px 5px rgb(94, 94, 94);
  border-style: none;
  background-color: #35353500;
  color: $blue-light;
}
.modalPixBoxC button:hover {
  cursor: pointer;
  color: $blue-logo;
}
.inner-box a {
  display: flex;
  // text-align: center;
  justify-content: center;
  color: $blue-logo;
  text-decoration: none;
  font-size: 15px;
  // padding-bottom: 25px;
  cursor: zoom-in;
  text-shadow: 2px 2px 5px rgb(255, 201, 140);
}
.box {
  display: flex;
  justify-content: center;

  margin-top: 10px;
  align-items: center;
  background-color: $orange-logo;
  border-radius: 25px;
  height: 240px;
  width: 250px;
}
.inner-box {
  justify-content: center;
  flex-direction: column;
  align-items: baseline;

  display: inline-flex;
  flex-wrap: wrap;

  background-color: $white;
  border-radius: 20px;
  padding-left: 10px;
  height: 220px;
  width: 230px;
}
.modalPixBoxC {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;

  background-color: $orange-dark;
  border-radius: 25px;
  height: 280px;
  width: 530px;
}
.box-logo {
  background-color: $white;
  border-radius: 15px;
  height: 100px;
  width: 100px;
  align-items: center;
  justify-content: center;
  display: flex;
}
#content {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
