// @import url("https://fonts.googleapis.com/css2?family=Allerta&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.register-box h1 {
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  color: #3e86cf;

  text-shadow: rgb(121, 121, 121) 0.05em 0.05em 0.2em;
}
.register-box h1::selection {
  color: #f68511;
}

.register-box {
  border-radius: 12px;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.register-box input {
  border-width: 1px;
  color: #ffffff;
  background-color: #f68511;
  height: 40px;
  width: 340px;
  border-color: #00000000;
  border-radius: 25px;
  padding-left: 10px;
  margin-top: 8px;
}
.register-box input::placeholder {
  color: #ffffff;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}
.register-box input::selection {
  color: #3e86cf;
  text-decoration: none;
}

.btn {
  //   display: block;
  border-radius: 25px;
  margin-top: 8px;
  height: 45px;
  width: 175px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #ffffff;
  align-items: center;
  background-color: #5a97d6;
}
.btn:hover {
  background-color: #3fbcee;
  color: #ffffff;
}
.b1 {
  padding-left: 105px;
  background-color: rgba(127, 255, 212, 0);
  border-style: none;
}
.b1:hover {
  cursor: pointer;
}
.b1::selection {
  color: #f68511;
}
.erros  {
  color: #aa1212;
}