<h2>Perfil</h2>

<div class="container">
  <div>
    <form id="clienteForm" [formGroup]="perfilForm">
      <label for="nome">Nome: Opcional</label>
      <input type="text"  formControlName="nome"placeholder="{{perfilService.dados.getValue().nome_cliente}}"  /><br />

      <label for="email">Email: Opcional</label>
      <input type="email"  formControlName="email" placeholder="{{perfilService.dados.getValue().email}}" /><br />

      <label for="agencia">Telefone: Opcional</label>
      <input type="text" mask="(00)000000000" formControlName="telefone" placeholder="{{perfilService.dados.getValue().telefone}}" /><br />

 
    </form>
  </div> 
  <br />
  <div>
    <form id="clienteForm" [formGroup]="perfilFormSenha">
      <label for="conta">Conta: Opcional</label>
      <input type="text"  formControlName="conta"/><br />

      <label for="senha">Senha Nova: Opcional</label>
      <input type="password"  formControlName="senhaNova"   /><br />
      
      <label for="telefone">Senha Atual: Obrigatorio</label>
      <input type="text"  formControlName="senhaAtual" [disabled]="perfilForm.invalid" /><br />

    </form>
  </div>

</div>  
<button (click)="salvarSenha()" [disabled]="perfilFormSenha.invalid" > Salvar Alterações</button>


