<div class="login-box" [formGroup]="loginForm">
    
    <h1>Logar</h1>

  <br/>

    <input type="text" placeholder="Email" formControlName="email" />
    <br/>

    <input type="password" placeholder="Password" formControlName="senha" />

    <app-checkbox>
    
    </app-checkbox>
<!-- 
    <div class="container-checkbox">
      <p>não possui uma conta ainda ?</p>

      <div class="checkbox">

        <input type="checkbox" (click)="null" />
      </div>
    </div> -->

  <div>

    <button (click)="enviarLogin()"class="btn" [disabled]="loginForm.invalid">Login </button>
    
  </div>

</div>