<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
/>

<div class="bgimage">
  <div class="h1">
    <h1>SignIn/SignUp</h1>
  </div>
  <div class="container-checkbox">
    <div class="checkbox">
      <input type="checkbox" (click)="modificarCardLogin()" />
    </div>
  </div>

  <div class="login-box">
    <div class="login-content">
      @if (conditionSignIn) {

      <div class="container-login">
        <app-signin> </app-signin>
      </div>

      } @else {

      <div class="container-login">
        <app-signup> </app-signup>
      </div>

      }
    </div>
  </div>
</div>
<!--

  criar botao com a tag a
  register 
  login 
  form

-->
