<nb-card>
  <!--Nb é de Nebular, esse é uma componente importado do Nebular-->
  <div class="container">
    @if(tipoPix === "pagar"){
    <app-pix-modal-pagar> </app-pix-modal-pagar>

    } @else if(tipoPix === "confirm"){
    <app-pix-confirm> </app-pix-confirm>

    }@else if(tipoPix === "comprovante"){
    <app-pix-confirm> </app-pix-confirm>

    }@else if(tipoPix === "copiacola"){
    <app-pix-modal-copia-cola> </app-pix-modal-copia-cola>

    } @else{
    <app-pix-modal-copia-cola> </app-pix-modal-copia-cola>
    }
  </div>
</nb-card>
