<nb-card> <!--Nb é de Nebular, esse é uma componente importado do Nebular-->
  <div class="container">
    @if(tipoPix === "pagar"){


      <div class="box">
    <div class="pix-box">
    
      <span type="button" class="close" (click)="fecharPix.emit(true)" id="Btn"
        >&times;</span
      >  <a> Pix </a>


      <div class="amount">

        <h1>{{saldo}}</h1>
        
        
<div class="input">
    
  <h1></h1>

<br/>

  <input type="text" placeholder="Chave" class="input-pix" formControlName="Chave" />
  <br/>

  <input type="number" placeholder="Valor" class="input-pix"formControlName="Valor "/>
</div>

        </div>

      
    </div>
   
  </div>




    }@else{
    <div class="pix-box">
      Copia e Cola
      <span type="button" class="close" (click)="fecharPix.emit(true)" id="Btn"
        >&times;</span
      >

      <div class="next"></div>
    </div>
    }
  </div>
</nb-card>
