
.pix-box {
  background-color: rgb(78, 180, 248);
  width: 700px;
  height: 350px;

}
.container {
  
    font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
 
}

.close {
  color: #ffffff;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
padding-left: 670px;
}

.close:hover {
  color: #ff0000;
}
.close:focus {
  color: black;
}
.pix-box {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
}
.pix-box a {
  display: flex;
  justify-content: center;
  flex-direction: center;
  align-items: center;
  text-align: center;
  list-style: none;
  color: #ffffff;
  text-decoration: none;
  font-size: 40px;
}
.amount{



}
.input-pix{

  border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: none;
    border-right-color: #f7f7f700;
    border-bottom-color: #000033;
    background-color: transparent;
    padding-left: 4px;
    margin-bottom: 53px;

}
.input-pix2{
text-align: center;
width:90px ;
  border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: none;
    border-right-color: #f7f7f700;
    border-bottom-color: #000033;
    background-color: transparent;
    padding-left: 4px;

}


.esconder {
  display: none;
}

.bg-img img{
  padding-top: 15px;
width: 200px;
height: 200px;
}

.esconderF {
  display: none;
}