
.btn {

    border-radius: 4px;

    font-size: 13px;
    font-weight: 600;
    color: #999999;
    align-items: center;
    background-color: #000000;

  }
.btn:hover {

  background-color: #3fbcee;
  color: #ffffff;

}
