<div class="register-box" [formGroup]="RegisterForm">

  <h1>Registrar</h1>

  <br />

  <input type="text" placeholder="Full Name" formControlName="nome" />
  <br />

  <input type="text" placeholder="CPF" formControlName="cpf" />

  <input type="text" placeholder="Phone Number" formControlName="telefone" />
  <br />
 
  <input type="text" placeholder="Email" formControlName="email" />
  <br />
  
  <input type="password" placeholder="Password" formControlName="senha" />
</div>

<div style="justify-content: center; display: flex;">

  <button [disabled]="RegisterForm.invalid" (click)="enviarRegistro()" class="btn">
   
    Register 
  </button>
</div>

<div class="erros">
  
  @if(RegisterForm.invalid ){
 
  {{registerError()}}
  
  {{registerErr}}
  
  }
</div>
