<nb-layout>
  <nb-layout-header class="header" fixed>
    <button nbButton status="info" size="tiny" (click)="toggleCompact()">
      Menu
    </button>

    <div class="navigate-buttons">
      <ul>
        <li> <a href="http://localhost:4200/pages/account"><img src="../../assets/images/Style=Filledsettings.png" class="img-top">Account</a></li>

        <li>
          <a href="http://localhost:4200/pages/dashboard"><img src="../../assets/images/Style=Filleddashboard.png" class="img-top">Dashboard</a>
        </li>

        <li> <a href="http://localhost:4200/pages/sac"><img src="../../assets/images/Style=Sharpsac.png" class="img-top">SAC</a>

        <li>
          <a href="http://localhost:4200/pages/about"><img src="../../assets/images/Style=Roundpin.png" class="img-top">Quem Somos</a>

        </li>
      </ul>
    </div> 
  </nb-layout-header>

  <nb-sidebar left tag="left">
    @if (sidebarState === 'compacted') {
    
        <a href="http://localhost:4200/pages/carteira"><img src="../../assets/images/Style=Roundwallet.png" class="img-side"></a>
 
        <a href="http://localhost:4200/pages/pix"><img src="../../assets/images/Style=Outlinedtransfer.png" class="img-side"></a>
 
        <a href="http://localhost:4200/pages/transferencia"><img src="../../assets/images/Style=Roundcard.png" class="img-side"></a>
  
        <a href="http://localhost:4200/pages/boleto"><img src="../../assets/images/Style=Roundboleto.png" class="img-side"></a>
  
        <a href="http://localhost:4200/pages/extrato"><img src="../../assets/images/Style=Filledextract.png" class="img-side"></a>

 
 

    }@else {

    <div class="navigate-buttons-side">
      <a href="http://localhost:4200/pages/carteira" class="btn1">Carteira</a>
      <a href="http://localhost:4200/pages/pix" class="btn2">Pix</a>
      <a href="http://localhost:4200/pages/transferencia" class="btn3">Transferencia</a>
      <a href="http://localhost:4200/pages/boleto" class="btn4">Boleto</a>
      <a href="http://localhost:4200/pages/extrato" class="btn5">Extrato</a>
    </div>

    }
  </nb-sidebar>

  <nb-layout-column class="colored-column-warning">
    <router-outlet> </router-outlet>
  </nb-layout-column>
</nb-layout>
