.bgimage{
  

   height: 60vh;

   background-repeat: no-repeat;
   background-position: top, center;
   background-image: url('../../../assets/images/5cad15cccc7f578b1326dfee286b6798-a-cone-de-ma-o-bitcoin.png');
   }