.bgimage{
  

   height: 60vh;
   background-size: 30%;
   background-repeat: no-repeat;
   background-position: top, center;
   background-image: url('../../../assets/images/money-coin-svgrepo-com.png');
   }